@using System.Security.Claims;
@model cvProjesi.Models.Egitimler

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Egitimler</h4>
@User.FindFirst(ClaimTypes.GivenName).Value
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <select asp-for="KullaniciId" class ="form-control">
                    <option value="@User.FindFirst(ClaimTypes.GivenName).Value">@User.FindFirst(ClaimTypes.GivenName).Value</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EgitimAd" class="control-label"></label>
                <input asp-for="EgitimAd" class="form-control" />
                <span asp-validation-for="EgitimAd" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="EgitimTuru" class="control-label"></label>
                <input asp-for="EgitimTuru" class="form-control" />
                <span asp-validation-for="EgitimTuru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DereceSertifika" class="control-label"></label>
                <input asp-for="DereceSertifika" class="form-control" />
                <span asp-validation-for="DereceSertifika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sehir" class="control-label"></label>
                <input asp-for="Sehir" class="form-control" />
                <span asp-validation-for="Sehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilce" class="control-label"></label>
                <input asp-for="Ilce" class="form-control" />
                <span asp-validation-for="Ilce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Okul" class="control-label"></label>
                <input asp-for="Okul" class="form-control" />
                <span asp-validation-for="Okul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaslangicTarihi" class="control-label"></label>
                <input asp-for="BaslangicTarihi" class="form-control" />
                <span asp-validation-for="BaslangicTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitisTarihi" class="control-label"></label>
                <input asp-for="BitisTarihi" class="form-control" />
                <span asp-validation-for="BitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

