@model cvProjesi.Models.YeniKayit

@{
    Layout = null;
}


<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Üye Kayıt</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Particles Login Form Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
		
	</script>
	<style>
		.w3ls-login input[type="tel"],
.w3ls-login input[type="text"] {
    width: 100%;
    color: #fff;
    outline: none;
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    font-family: 'Amiri', serif;
    background: rgba(0, 0, 0, 0.53);
}
	</style>
	@*<style>
		h1{
			margin:0 !important;
		}
	</style>*@
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="~/Login/css/style.css" rel='stylesheet' type='text/css' />
	<!-- online fonts-->
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<!--  particles  -->
	<div id="particles-js"></div>
	<div class="w3ls-pos">
		<h1 style="margin:0 !important;">CvWeb Kayıt Sayfası</h1>
	
		<div class="w3ls-login box">
			<!-- form starts here -->
			<form method="post">
				<div class="agile-field-txt">
					
					<input type="text" asp-for="AdSoyad" placeholder="Name" required />
				</div>
				<div class="agile-field-txt">
					
					<input type="tel" asp-for="Telefon" placeholder="Number" required />
				</div>
				<div class="agile-field-txt">
					
					<input type="email" asp-for="Eposta" placeholder="mail" required />
				</div>
				
				<div class="agile-field-txt">
					
					<input type="password" asp-for="Sifre" placeholder="******" required />
					<div class="agile_label">
						<a href="/Kayit/KayitOl/" style="color:white">Bir hesabın yok mu?</a>
						<br />
					</div>
				</div>
				<div class="w3ls-bot">
					<input type="submit" value="Kayıt Ol">
				</div>
			</form>
		</div>
		<!-- //form ends here -->
		<!--copyright-->
		<div class="copy-wthree">
			<p>
				© 2018 Particles Login Form. All Rights Reserved | Design by
				<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
			</p>
		</div>
		<!--//copyright-->
	</div>
	<!-- scripts required  for particle effect -->
	<script src='~/Login/js/particles.min.js'></script>
	<script src="~/Login/js/index.js"></script>
	<!-- //scripts required for particle effect -->
	<script>
		@if (TempData["hata"]!=null)
		{
			<text>
			alert("@TempData["hata"].ToString()")
			</text>
		}
	</script>
</body>

</html>