@model cvProjesi.Models.CvProfil

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CvProfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvProfil1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvProfil1Navigation.ProfilId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kayit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kayit.KayıtId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
